@{
    ViewBag.Title = "Movie Register";
}

<div class="container" id="homeMainContent">
    <h1>Welcome to Movie Register!</h1>
    <h3>Where all your "leagaly" collected movies are stored...</h3>
    <br />
    <hr />
    <div id="recentlyWatched">
        <!-- TODO: Here we will add some recently watched movies-->
    </div>
</div>

